{% extends 'base.html' %}
{% block title %}
<title>Admin</title>
{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cadastro_aluno' %}">Cadastrar Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'alunos_cadastrados' %}">Listar Alunos</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <!-- Conteúdo da página aqui -->
  </div>

  <!-- Adicione os scripts para o jQuery e o Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}