{% extends 'base.html' %}
{% block title %}
<title>Minha Página</title>
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <section id="sobre">
      <h2>Sobre</h2>
      <p>Bem-vindo à minha página! Aqui você pode realizar o cadastro de alunos.</p>
      <p>Utilize o formulário de cadastro para adicionar novos alunos à instituição.</p>
      <p>Obs: Para cadastros ou visualização de alunos, é necessário realizar <a href="{% url 'login' %}">login</a>.</p>
    </section>

    <hr>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}